.space {
    width: 600px;
    height: 400px;
    background-image: url("https://learn.algoritmika.org/uploads/student/70327020/68f77ec2ee2f5.jpg");
    position: relative;
}

.yran {
    position: relative;
    left: 150px;
    top: 5px;
}

.neptyn {
   position: absolute;
   bottom: 175px;
   left: 30px;
}

.upiter {
    position: absolute;
    bottom: 34px;
}

.raketa {
    position: absolute;
    left: 111px;
    bottom: 200px;
}

.lego {
    position: absolute;
    left: 450px;
    bottom: 1px;
}

.enelo {
    position: absolute; 
    left: 100px;
    bottom: 62px;
}

.asterod {
    position: absolute;
    left: 430px;
    bottom: 249px;
}
